#ignore the .env file
.env

# Ignore cache directories
cache/
.cache/
# Ignore Python bytecode
__pycache__/
*.py[cod]

some.html

data

rag_from_scratch_5_to_9.ipynb

file_without_table.txt

s

Neo4j-621bd486-Created-2024-08-05.txt
neo4j.txt
data_images
storage_nodes
storage_nodes_summary